@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet" />
    <style>
        main {
            margin: 0px auto;
            padding: 50px;
        }

        .wrap {
            margin: 0px auto;
            text-align: center;
        }

        .wrap h2 {
            font-size: 75px;
            color: #336aea;
        }

        .wrap p.sub-header {
            color: #336aea;
            font-size: 45px;
            margin-bottom: 25px;
        }

        .wrap p {
            font-size: 25px;
            font-weight: 600;
            color: #999;
        }
    </style>
</head>
<body>

<main>
    <div class="wrap">
        <h2>WELCOME</h2>
        <p class="sub-header">To Our School</p>
        <p>Empowering Minds, Shaping Futures!</p>
    </div>
</main>

</body>

</html>
